{% extends 'base.html' %}

{% load static %}

{% block title %}ATUAÇÃO / Consulta {% endblock %}

{% block content %}

{% if lista %}

  {% for registro in lista %}

    <div class="container">

      <br>
  
      {% if messages %}
	      {% for message in messages %}
		      <div class="alert alert-success" role="alert">
		        {{ message }}
	            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		          </button>
		      </div>    
	      {% endfor %}
      {% endif %}

	    <h4>Processo: {{ registro.1 }}</h4>
	    <hr/>
      <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>       
          </tr>
        </thead>
        <tbody>
          <tr>              
            <td>ID PROCESSO</td>
            <td>{{registro.0}}</td>
          </tr>
          <tr>
			      <td>NÚMERO DO PROCESSO</td>
            <td>{{registro.1}}</td>                          
          </tr>
          <tr>
			      <td>NOME DO EXEQUENTE</td>
            <td>{{registro.2}}</td>                          
          </tr>
          <tr>
			      <td>QUANTIDADE DE EXEQUENTES</td>
            <td>{{registro.3}}</td>                          
          </tr>
          <tr>
			      <td>INSTÂNCIA</td>
            <td>{{ registro.4 }}</td>                          
          </tr>
          <tr>			
			      <td>SITUACAO DA UNIAO</td>
            <td>{{ registro.7 }}</td>                          
          </tr>  
          <tr>
			      <td>TIPO DE CÁLCULO</td>
            <td>{{ registro.8}}</td>                          
          </tr>  
          <tr>
			      <td>OBJETO DA AÇÃO</td>
            <td>{{ registro.9 }}</td>                          
          </tr>
          <tr>
			      <td>VALOR DO AUTOR</td>
            <td>R$ {{ registro.12 }}</td>                          
          </tr>        
          <tr>			
			      <td>VALOR DA UNIÃO</td>
            <td>R$ {{ registro.13 }}</td>                          
          </tr>
          <tr>      
            <td>DATA ENVIO PARA UNIDADE</td>
            <td>{{registro.14 |date:"SHORT_DATE_FORMAT" }}</td>                          
          </tr>  
          <tr>
			      <td>DATA DE SAÍDA</td>
            <td>{{registro.17 |date:"SHORT_DATE_FORMAT"}}</td>                          
          </tr>  
          <tr>
            <td>OBSERVAÇÃO DO PROCESSO</td>
            <td>{% if registro.18 %} {{registro.18}} {% endif %}</td>                          
          </tr> 
            <td>NOME DO RESPONSÁVEL</td>
            <td>{{registro.19}}</td>                          
          </tr>  
          <tr>
            <td>DATA INSERÇÃO DOS DADOS</td>
            <td>{{registro.21 |date:"SHORT_DATE_FORMAT"}}</td>                          
          </tr>  
          <tr>
            <td>UNIDADE</td>
            <td>{{registro.23}}</td>                          
          </tr> 
        </tbody>
      </table>
    </div>
  {% endfor %}

{% else %}

  <br>
	<h4>Consulta</h4> 
	<hr/>
  
	{% if messages %}
	  {% for message in messages %}
		  <div class="alert alert-success" role="alert">
		    {{ message }}
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>    
	  {% endfor %}
	{% endif %}
       
	<div class="container">    
		<form enctype="multipart/form-data" action="{% url 'consulta' %}" method="POST">
	    {% csrf_token %} 
		  
      <div class="form-row">  
			  <div class="col-sm-6">					  
			    <label for="campo1" class="form-label">Nº do processo</label>          
          <input type="text" class="form-control" id="campo1" name="numproc"
            oninput="formatarNumeroProcesso(this)"
            pattern="[0-9]{20}"
            maxlength="25"
            placeholder="Este campo deve possuir 20 caracteres numéricos">          
          </br>
				</div>
			</div>
			
      <div class="form-row">  
			  <div class="col-sm-6">					  
				  <label for="campo2" class="form-label">ID do processo</label>
					<!-- <input type="number" class="form-control" id="campo2" name="idproc"> -->
          <input type="text" class="form-control" id="campo2" name="idproc" onkeypress="return event.charCode >= 48 && event.charCode <=57">

          <!-- <input type="text" class="form-control" id="campo2" name="idproc"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              pattern="[0-9]{15}"
              placeholder="Número do registro gravado no banco de dados">
          -->
          </br>
					<button type="submit" class="btn btn-primary mb-2">Buscar registro</button>
				</div>
			</div>	      
	  </form>
	</div>	
{% endif %}
{% endblock %}