{% extends 'base.html' %}

{% load static %}

{% block title %}Atuação Web{% endblock %}

{% block content %}

<div class="container">
	<span><center><img src="{% static 'images/atuacaowebbluepnep.png' %}"></center></span>
</div> 

<div class="media-body">
	<h6 style="text-align: center;"><b>ATUAÇÃO WEB é a nova versão do Sistema Atuação, desenvolvido
		para registro de valores das Ações Judiciais tramitadas no âmbito
		da PGU - Procuradoria Geral da União e encaminhadas à PNEP - Procuradoria 
		Nacional da União de Execuções e Precatórios.</b>
	</h6>
	<br><br>
	<h6 style="text-align: center;"><b>Em caso de dúvidas, envie e-mail para 
		<a href="mailto:pgu.pnep@agu.gov.br" class="alert-link">pgu.pnep@agu.gov.br</a></b></h6>
	<br><br>
	<h6 style="text-align: right;"><b>Versão 2.2 |  Dezembro-2024</b></h6>
</div>


{% endblock %}

